/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";
 .comment-box {
  width: 80%;
  background-color: rgb(75, 67, 140);
  margin: auto;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-top: 2rem;
 }
.navbar{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.indextable{
  text-align: center;
}
.field_with_errors .message{
  color: #D00;
}

.card-items{
  margin: 5px !important;
}
.sign_in {
  width: 45%;
  margin-left: 22rem;
  margin-top: 5rem;
}

.sign {
  width: 45%;
  margin-left: 22rem;
  margin-top: 5rem;
}

.field {
  margin-bottom: 1rem;
}
.note
{
  text-align: center;
  height: 200px;
  background: -webkit-linear-gradient(left, #0072ff, #8811c5);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 1rem;
}
.form-content
{
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 10%;
}
.form-control{
  border-radius:1.5rem;
}
.actions{
  width: 30%;
}
.actionsp{
  width: 40%;
}
.btnSubmit
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #0062cc;
  color: #fff;
}
